server/bower_components
server/data
server/node_modules
server/public/lib
server/.svn

mobile/hooks
mobile/node_modules
mobile/platforms
mobile/plugins
mobile/resources
mobile/www/lib
mobile/.svn
mobile/.io-config.json

.svn

.DS_Store